.fs-5 {
    margin-top: 0.7rem;
    font-weight: 500;
    font-size: 2.4rem !important;
}

.ms-1 {
    line-height: 2.5rem;
    margin-left: 1.6rem !important;
    font-size: 1.3rem;
}

@media (min-width: 1200px) {
    .col-xl-2 {
        flex: 0 0 auto;
        width: 18.666667%;
    }
}

.bg-dark {
    box-shadow: 0vw 0vw 3vw black;
    --bs-bg-opacity: 1;
    background-color: rgb(39 55 72) !important;
}

.nav-pills .nav-link:hover {
    color: rgb(187, 45, 133);
    visibility: visible;
    font-size: 1.5rem;
}

.nav-item:hover{
    color: rgb(158, 37, 112);
    visibility: visible;
    font-size: 1rem;
}

.nav-link {
    color: azure;
}
/* 
.mx-1 {
    font-size: 0.8rem;
    margin-right: .25rem !important;
    margin-left: -0.75rem !important;
} */

 h6 {
    font: 400 calc(14px* .67) / 20px Roboto, sans-serif;
    font-size: 0.71rem;
    margin: 0 0 12px;
}