<div class="container-fluid bg-dark text-light footer pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <!-- <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt=" "></a> -->
            
            <div class="container">
                <div class="logo">
                    <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt=" "></a>
                </div>
            </div>
        </div>
            
            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4">Services</h5>
                <a class="btn btn-link" href="">Home</a>
                <a class="btn btn-link" href="">Insurance</a>
                <a class="btn btn-link" href="">Real Estate</a>
                <a class="btn btn-link" href="">Software Solution</a>
                <a class="btn btn-link" href="">Claims </a>
                <a class="btn btn-link" href="">Clientele </a>
                <a class="btn btn-link" href="">Contact us </a>
            </div>

            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4">Address</h5>
                <p class="mb-2"> <fa-icon [icon]="faMapMarkedAlt" class="me-3"></fa-icon>Kacheri Road, Palghar, 401404</p>
                <p class="mb-2"><fa-icon [icon]="faPhone" class=" me-3"></fa-icon>+02525-250316</p>
                <p class="mb-2"><fa-icon [icon]="faEnvelope" class=" me-3"></fa-icon>yogakshem.palghar&#64;gmail.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-dark btn-social rounded-circle" href=""><fa-icon [icon]="faTwitter"></fa-icon></a>
                    <a class="btn btn-outline-dark btn-social rounded-circle" href=""><fa-icon [icon]="fafacebook"></fa-icon></a>
                    <a class="btn btn-outline-dark btn-social rounded-circle" href=""><fa-icon [icon]="faYoutube" ></fa-icon></a>
                    <a class="btn btn-outline-dark btn-social rounded-circle" href=""><fa-icon [icon]="faLinkedinIn"></fa-icon></a>
                </div>
            </div>
           
            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4">About Us </h5>
                <p>We are a one stop solution provider with our wide range of services. We provide all kinds of insurance solutions, software solutions, real estate etc since our establishment.
                    Our Team of experts is well experienced to understand your need and provide a best possible solution to suit your need.</p>
                <div class="position-relative mx-auto" style="max-width: 400px;">
                     </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                  <a  href="#"><h6>COPYRIGHT &copy; 2013 &#64; Yogakshmeaonline</h6></a>
               
                
            </div>
        </div>
    </div>
</div>
