<div id="drawer-right">
    
    <div class="cross text-right">
        <a class="toggleDrawer" href="#"><fa-icon [icon]="faTimesCircle"></fa-icon></a>
    </div>
    <h2>Yogakshema</h2>
    <nav>
        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="#wrapper"><fa-icon [icon]="faHome"></fa-icon> Home</a>
            </li>
            <li class="nav-item dropdown scroll ">
                <a class="nav-link dropdown-toggle " href="#insurance" role="button" data-bs-toggle="dropdown">
                    <!-- <i class="fas fa-shield-alt"></i> -->
                    <fa-icon [icon]="faShieldAlt"></fa-icon>
                    Insurance 
                </a>
                <ul class="dropdown-menu scroll">
                    <li ><a class="dropdown-item" href="#life-insurance">Life
                            Insurance</a></li>
                    <li ><a class="dropdown-item" href="#motor-insurance">Motor
                            Insurance</a></li>
                    <li ><a class="dropdown-item" href="#health-insurance">Health
                            Insurance</a></li>
                </ul>
            </li>
            <li>
                <a href="#portfolio"><fa-icon [icon]="faBuilding"></fa-icon> Real Estate</a>
            </li>
            <li>
                <a href="#services"><fa-icon [icon]="faDesktop"></fa-icon>
                    Software Solution</a>
            </li>
            <li>
                <a href="#blog"><fa-icon [icon]="faPlus"></fa-icon>
                    Claims</a>
                    <ul class="dropdown-menu">
                        <li ><a class="dropdown-item" href="#motor-claims">Motor Claims</a>
                        </li>
                        <li ><a class="dropdown-item" href="#health-claims">Health Claims</a>
                        </li>
                    </ul>
            </li>
            <li>
                <a href="#parallax"><fa-icon [icon]="faUser"></fa-icon>
                    Clientele</a>
            </li>
            <li>
                <a href="#testimonials"><fa-icon [icon]="faAddressBook"></fa-icon>
                    Contact us</a>
            </li>
            <!-- <li>
                <a href="#contact"><i class="fa fa-phone-square"></i> Contact</a>
            </li> -->
        </ul>
    </nav>
    <div class="social">
        <h2>Stay Connected</h2>
        <ul>
            <li><a href=""><fa-icon
                [icon]="fafacebook"></fa-icon></a></li>
            <li><a href=""><fa-icon
                [icon]="faTwitter"></fa-icon></a></li>
            <li><a href=""><fa-icon
                [icon]="faInstagram"></fa-icon></a></li>
            <li><a href=""><fa-icon
                [icon]="faLinkedinIn"></fa-icon></a></li>
        </ul>
    </div>
</div><!-- #drawer-right -->

<div id="wrapper">
			
    <div id="header" class="content-block header-wrapper">
        <div class="header-wrapper-inner">
            <section class="top clearfix">
                <div class="pull-left">
                    <h1><a class="logo" href="#"><img src="assets/images/bird.png" alt=" "></a></h1>
                    <!-- <h1><a class="logo" href="index.html">Flusk</a></h1> -->
                </div>
                <div class="pull-right">
                    <a class="toggleDrawer" href="#"><fa-icon
                        [icon]="faBars"></fa-icon></a>
                </div>
            </section>
            <section class="center">
                <div class="slogan">
                    Everything you need
is under one roof
                </div>
                <div class="secondary-slogan">
                    The word Yogakshema came from the Sanskrit language which means “take care of yourself”. We at Yogakshema, works exactly for the same and take care of all your personal care solutions.
                </div>
            </section>
            <section class="bottom">
                <a id="scrollToContent" href="#">
                    <img src="assets/images/arrow_down.png">
                </a>
            </section>
        </div>
    </div><!-- header -->
</div>