
.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

/** Topbar **/
@media (min-width: 992px) {
    .d-lg-flex {
        background-color: #f3ebef;
    }
}

 .ng-fa-icon{
    font-size: 1em;
    color: rgb(5, 5, 5);
} 

.ng-fa-icon[_ngcontent-ng-c3365607779] {
    font-size: 1em;
    margin-right: 0.2rem;
    color: rgb(129 129 129);
}

 .ng-fa-icon:hover{
   color: #932067;
    font-size: large;

}
.small, small {
    font-size: 1em;
    font-weight: 500;
}
.px-5 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
}
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

@media only screen and (min-width:568px) and (max-width:992px) {
    
.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

/** Topbar **/
@media (min-width: 992px) {
    .d-lg-flex {
        background-color: #f3ebef;
    }
}

 .ng-fa-icon{
    font-size: 1em;
    color: rgb(5, 5, 5);
} 

.ng-fa-icon[_ngcontent-ng-c3365607779] {
    font-size: 1em;
    margin-right: 0.2rem;
    color: rgb(129 129 129);
}

 .ng-fa-icon:hover{
   color: #932067;
    font-size: large;

}
.small, small {
    font-size: 1em;
    font-weight: 500;
}
.px-5 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}
}

@media only screen and (min-width:320px) and (max-width:567px) {
    
.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

/** Topbar **/
@media (min-width: 992px) {
    .d-lg-flex {
        background-color: #f3ebef;
    }
}

 .ng-fa-icon{
    font-size: 1em;
    color: rgb(5, 5, 5);
} 

.ng-fa-icon[_ngcontent-ng-c3365607779] {
    font-size: 1em;
    margin-right: 0.2rem;
    color: rgb(129 129 129);
}

 .ng-fa-icon:hover{
   color: #932067;
    font-size: large;

}
.small, small {
    font-size: 1em;
    font-weight: 500;
}
.px-5 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}
}