<!-- Intro with Card and Floating Action Button -->
<!-- <div class="banner-wrap">
    <div class="pmd-intro-bg-img pmd-intro-gradient pmd-intro-gradient2"
        style="background-image:url(https://pro.propeller.in/assets/images/card-banner-1.jpg);">
        <div class="container" style="background-color: rgba(0, 0, 0, 0.8);">
            <div class="pmd-intro-container d-flex row justify-content-center">
                <div class="align-self-center intro-text col-lg-6 col-md-8 text-center pmd-card text-dark p-5">
                    <h1><span class="first_word"> Everything </span>you need<br>
                        <div class="down">is <span>under one roof</span></div>
                    </h1>
                    <p class="text">
                        The word <b>Yogakshema</b> came from the Sanskrit language which means <b>“take care of yourself”</b>.
                        We at Yogakshema, works exactly for the same and take care of all your personal care solutions.
                    </p>
                    <button type="button" pmdRipple pmd-btn-fab pmd-btn-raised color="primary"
                        class="pmd-intro-fab-btn-center"><i
                            class="material-icons pmd-icon-sm">keyboard_arrow_down</i></button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- Intro with Video Background-->
<div class="banner-wrap">
    <div class="pmd-intro-bg-img">
        <video loop muted="" data-autoplay="" autoplay playsinline="" id="myVideo">
            <source src="https://media.istockphoto.com/id/1369756309/video/male-hands-activate-hologram-insurance.mp4?s=mp4-640x640-is&k=20&c=a97BVttk5c2uvAbwdx3sUeRkzzfcd9nIx6QssCAe8g0="  type="video/mp4">
        </video>
    </div>
    <div class="container">
        <div class="pmd-intro-container d-flex row justify-content-center">
            <div class="align-self-center text-light col-lg-8 text-center">
                <h1><span class="first_word"> Everything </span>you need<br>
                    <div class="down">is <span>under one roof</span></div>
                </h1>
                <p class="text">
                    The word <b>Yogakshema</b> came from the Sanskrit language which means <b>“take care of yourself”</b>.<br>
                    We at Yogakshema, works exactly for the same and take care of all your personal care solutions.
                </p>
                <!-- <button type="button" pmdRipple pmd-btn-outline color="light">Find Out More</button> -->
            </div>
        </div>
    </div>
</div>