/* .example-selected-value {
    margin: 15px 0;
  } */

.fw-medium {
    font-weight: 500 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-black {
    font-weight: 900 !important;
}

/** Topbar **/
 .ng-fa-icon{
    font-size: 1em;
    color: rgb(5, 5, 5);
} 

.ng-fa-icon[_ngcontent-ng-c3365607779] {
    font-size: 1em;
    margin-right: 0.2rem;
    color: rgb(129 129 129);
}

 .ng-fa-icon:hover{
   color: #932067;
    font-size: large;

}
.small, small {
    font-size: 1em;
    font-weight: 500;
}

 /**.rounded-circle {
    border: 0.1em solid #434343;
    border-radius: 50% !important;
} */
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

/* toolbar end */


.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar .navbar-nav {
        background-color: rgb(240, 240, 240);
        border-top: 1px solid #EEEEEE;
    }
}

.navbar .navbar-brand,
.navbar a.btn {
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar.sticky-top {
    top: -100px;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        font-size: 1em;
        border: none;
        line-height: 2rem;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
        box-shadow: 0vw 0vw 2vw black;
    }
}

.navbar-collapse {
    flex-basis: 100%;
    margin-left: 11rem;
    flex-grow: 1;
    align-items: center;
}
 
.container-fluid{
    box-shadow: 0vw 0vw 0.1vw rgb(121, 120, 120);
}
 .container-fluid body {
    overflow-x: hidden;
  }
  
  img {
    margin: -0.3vw 3vw;
    right: 0%;
  }
  
  .navbar-nav {
    gap: 1.5em;
    margin-left: 11em;
    display: flex;
  }
  
  .nav-link i {
    display: none;
  }
  
  .nav-link {
    margin-inline: 0vw 0.7vw;
    font-weight: 650;
  }
  
  .nav-item  {
    font-size: 1.2rem !important;
    font-weight: 600;
    color: rgb(10, 10, 10);
  }
  
  
  .nav-item a:hover {
    color: #932067;
    background-color: #fadeef;
  }

  body {
    overflow-x: hidden;
  }

@media only screen and (min-width:568px) and (max-width:992px) {
    .navbar .container-fluid {
        
        box-shadow: 0vw 0.2vw 4vw black;
        z-index: 100;
        position: absolute;
        background-color: lavender;
        top: 0.1rem;
        width: 100%;
        display: flex;
    }

    .navbar-nav {
        box-shadow: 0vw 0vw 9vw;
        background-color: rgb(250, 236, 246);
        border-radius: 6vw 6vw 6vw 6vw;
        width: 66vw;
    }

    .nav-link i {
        display: flex;
        margin-left: -7vw;
        font-size: 3.5vw;
        margin-top: 2vw;
        margin-bottom: -3vw;
    }

    .navbar[_ngcontent-ng-c2446976050] .navbar-nav[_ngcontent-ng-c2446976050] .nav-link[_ngcontent-ng-c2446976050]:hover, .navbar[_ngcontent-ng-c2446976050] .navbar-nav[_ngcontent-ng-c2446976050] .nav-link[_ngcontent-ng-c2446976050] {
        font-size: 1.5rem;
        margin-left: 8rem;
        color: var(--primary);
    }


    
.navbar-nav .dropdown-menu {
    /* h: 50%; */
    font-size: 1.3rem;
    border-radius: 2rem;
    line-height: 1.6rem;
    position: static;
    margin-left: 10rem;
    width: 50%;
}
    img {
        margin: -0.3vw 1.5vw;
        right: 0%;
      }

    

}

@media only screen and (min-width:320px) and (max-width:567px) {
    .navbar.sticky-top[_ngcontent-ng-c3171155319] {
      top: -100px;
      transition: .5s;
      margin-right: -7.7rem;
  }

  .navbar .container-fluid {
    
    box-shadow: 0vw 0.2vw 4vw black;
    z-index: 100;
    position: absolute;
    background-color: lavender;
    top: 0.1rem;
    width: 139%;
    display: flex;
}

.navbar-nav {
    box-shadow: 0vw 0vw 9vw;
        background-color: rgb(250, 236, 246);
        border-radius: 6vw 6vw 6vw 6vw;
        width: 25rem;
        margin-left: 1.5rem;
        margin-top: 0.4rem;
    /* box-shadow: 0vw 0vw 9vw;
    background-color: rgb(250, 236, 246);
    border-radius: 6vw 6vw 6vw 6vw;
    width: 66vw; */
}

.nav-link i {
    display: flex;
    margin-left: -7vw;
    font-size: 3.5vw;
    margin-top: 2vw;
    margin-bottom: -3vw;
}

.navbar[_ngcontent-ng-c2446976050] .navbar-nav[_ngcontent-ng-c2446976050] .nav-link[_ngcontent-ng-c2446976050]:hover, .navbar[_ngcontent-ng-c2446976050] .navbar-nav[_ngcontent-ng-c2446976050] .nav-link[_ngcontent-ng-c2446976050] {
    font-size: 1.5rem;
    margin-left: 8rem;
    color: var(--primary);
}



.navbar-nav .dropdown-menu {
/* h: 50%; */
font-size: 1.3rem;
border-radius: 2rem;
line-height: 1.6rem;
position: static;
margin-left: 10rem;
width: 50%;
}


img {
    margin: -0.3vw 1.5vw;
    right: 0%;
  }

  }