<!-- Topbar Start -->
<div class="container-fluid bg-light p-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <fa-icon [icon]="faLocationDot"></fa-icon>
                <small style="margin-left: 0.5vw;">Kacheri Road, Palghar, 401404</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <fa-icon [icon]="faClock"></fa-icon>
                <small style="margin-left: 0.5vw;">Mon - Fri : 10.00AM - 06.00PM
                </small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <fa-icon [icon]="faPhone"></fa-icon>
                <small style="margin-left: 0.5vw;">02525-250316</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href=""><fa-icon
                        [icon]="fafacebook"></fa-icon></a>
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href=""><fa-icon
                        [icon]="faTwitter"></fa-icon></a>
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-1" href=""><fa-icon
                        [icon]="faInstagram"></fa-icon></a>
                <a class="btn btn-sm-square rounded-circle bg-white text-primary me-0" href=""><fa-icon
                        [icon]="faLinkedinIn"></fa-icon></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container-fluid p-0">
        <a class="navbar-brand" href="#"><img src="assets/images/bird.png" alt=" "></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item scroll" (click)="toHome()">
                    <a class="nav-link active " href="#home">
                        <!-- <i class="fa-solid fa-house"></i> -->
                        <!-- <fa-icon [icon]="faHome"></fa-icon> -->
                        <!-- <fa-icon [icon]="faHome" class="text-muted fs-1"></fa-icon> -->
                        Home
                    </a>
                </li>
                <li class="nav-item dropdown scroll " (click)="toInsurance()">
                    <a class="nav-link dropdown-toggle " href="#insurance" role="button" data-bs-toggle="dropdown">
                        <!-- <i class="fas fa-shield-alt"></i> -->
                        <!-- <fa-icon [icon]="faShieldAlt"></fa-icon> -->
                        Insurance 
                    </a>
                    <ul class="dropdown-menu scroll">
                        <li (cilck)="toLifeInsurance()"><a class="dropdown-item" href="#life-insurance">Life
                                Insurance</a></li>
                        <li (cilck)="toMotorInsurance()"><a class="dropdown-item" href="#motor-insurance">Motor
                                Insurance</a></li>
                        <li (cilck)="toHealthInsurance()"><a class="dropdown-item" href="#health-insurance">Health
                                Insurance</a></li>
                    </ul>
                </li>
                <li class="nav-item scroll" (click)="toRealEstate()">
                    <a class="nav-link " href="#real estate">
                        <!-- <i class="fa-solid fa-building"></i> -->
                        <!-- <fa-icon [icon]="faBuilding"></fa-icon> -->
                        Real Estate
                    </a>
                </li>
                <li class="nav-item" (click)="toSoftwareSolution()">
                    <a class="nav-link " href="#Software Solution">
                        <!-- <i class="fa-solid fa-desktop"></i> -->
                        <!-- <fa-icon [icon]="faDesktop"></fa-icon> -->
                        Software Solution
                    </a>
                </li>
                <li class="nav-item dropdown" (click)="toClaims()">
                    <a class="nav-link dropdown-toggle " href="#claims" role="button" data-bs-toggle="dropdown">
                        <!-- <i class="fa-solid fa-notes-medical"></i> -->
                        <!-- <fa-icon [icon]="faPlus"></fa-icon> -->
                        Claims
                    </a>
                    <ul class="dropdown-menu">
                        <li (click)="toMotorClaims()"><a class="dropdown-item" href="#motor-claims">Motor Claims</a>
                        </li>
                        <li (click)="toHealthClaims()"><a class="dropdown-item" href="#health-claims">Health Claims</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" (click)="toClientele()">
                    <a class="nav-link " href="#clientele">
                        <!-- <i class="fa-solid fa-users"></i> -->
                        <!-- <fa-icon [icon]="faUser"></fa-icon> -->
                        Clientele
                    </a>
                </li>
                <li class="nav-item" (click)="toContactus()">
                    <a class="nav-link " href="#contact us">
                        <!-- <i class="fa-solid fa-address-book"></i> -->
                        <!-- <fa-icon [icon]="faAddressBook"></fa-icon> -->
                        Contact us
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>