<!--Main Navigation-->
<header>
    <!-- Animated navbar-->
    <!-- <nav class="navbar navbar-expand-lg fixed-top navbar-scroll" data-mdb-navbar-init>
      <div class="container-fluid">
        <button
                class="navbar-toggler ps-0"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarExample01"
                aria-controls="navbarExample01"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
          <span
                class="d-flex justify-content-start align-items-center"
                >
            <i class="fas fa-bars"></i>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active">
              <a class="nav-link" aria-current="page" href="#intro">Home</a>
            </li>
            <li class="nav-item">
              <a
                 class="nav-link"
                 href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA"
                 rel="nofollow"
                 target="_blank"
                 >Learn Bootstrap 5</a
                >
            </li>
            <li class="nav-item">
              <a
                 class="nav-link"
                 href="https://mdbootstrap.com/docs/standard/"
                 target="_blank"
                 >Download MDB UI KIT</a
                >
            </li>
          </ul>
  
          <ul class="navbar-nav flex-row"> -->
            <!-- Icons -->
            <!-- <li class="nav-item">
              <a
                 class="nav-link pe-2"
                 href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA"
                 rel="nofollow"
                 target="_blank"
                 >
                <i class="fab fa-youtube"></i>
              </a>
            </li>
            <li class="nav-item">
              <a
                 class="nav-link px-2"
                 href="https://www.facebook.com/mdbootstrap"
                 rel="nofollow"
                 target="_blank"
                 >
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="nav-item">
              <a
                 class="nav-link px-2"
                 href="https://twitter.com/MDBootstrap"
                 rel="nofollow"
                 target="_blank"
                 >
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item">
              <a
                 class="nav-link ps-2"
                 href="https://github.com/mdbootstrap/mdb-ui-kit"
                 rel="nofollow"
                 target="_blank"
                 >
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->
    <!-- Animated navbar -->
  
    <!-- Background image -->
    <div
         id="intro"
         class="bg-image"
         style="background-image: url(https://media.istockphoto.com/id/1360520492/photo/businessman-hand-clicks-insurance-icons-to-car-travel-family-and-life-financial-and-health.jpg?s=1024x1024&w=is&k=20&c=lJly9l_cShvnq72y46VTn1pvePlWEImtFS-StIYjbJo=); ">
      <div class="mask text-white" style="background-color: rgba(240, 230, 235, 0.8);height: 100%;" >
        <div class="container d-flex align-items-center text-center h-100">
          <div class="col-lg-6 p-5 wow fadeIn" data-wow-delay="0.1s">
          <h1 [class.animate__animated]="animate"
          [class.animate__fadeInDown]="animate"
          (mouseover)="triggerAnimation()" class="animate__animated animate__fadeIn"><span class="first_word"> Everything </span>you need<br>
            <div class="down">is <span>under one roof</span></div>
          </h1>
          <p [class.animate__animated]="animate"
          [class.animate__fadeInUp]="animate"
          (mouseover)="triggerAnimation()" class="text">
            The word <b>Yogakshema</b> came from the Sanskrit language which means <b>“take care of yourself”</b>.
            We at Yogakshema, works exactly for the same and take care of all your personal care solutions.
          </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>
  <!--Main Navigation-->
<!--   
  <div class="container my-5">
    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis quam minima perspiciatis eos tenetur. Praesentium dolores at quos aperiam sed, sint provident consectetur incidunt, nostrum porro earum commodi, ex architecto.</p>
  
  </div> -->