<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto px-0">
            <div id="sidebar" class="collapse collapse-horizontal show border-end">
                <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu">
                        <li class="nav-item">
                            <a href="#" class="nav-link text-truncate">
                                <fa-icon [icon]="faHome" class="fs-5"></fa-icon><span class="ms-1 d-none d-sm-inline">Home</span>
                            </a>
                        </li>       
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <fa-icon [icon]="faShieldAlt" class="fs-5"></fa-icon><span class="ms-1 d-none d-sm-inline">Insurance</span>
                            </a>
                            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                                <li><a class="dropdown-item" href="#">Life Insurance</a></li>
                                <li><a class="dropdown-item" href="#">Motor Insurance</a></li>
                                <li><a class="dropdown-item" href="#">Health Insurance</a></li>
                                <!-- <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Sign out</a></li> -->
                            </ul>
                        </li>
                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link text-truncate">
                                <fa-icon [icon]="faBuilding" class="fs-5"></fa-icon><span class="ms-1 d-none d-sm-inline">Real Estate</span> </a>
                        </li>
                        <li>
                            <a href="#submenu1" data-bs-toggle="collapse" class="nav-link text-truncate">
                                <fa-icon [icon]="faDesktop" class="fs-5"></fa-icon><span class="ms-1 d-none d-sm-inline">Software Solution</span> </a>
                        </li>  
            
                        <li class="dropdown">
                            <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                <fa-icon [icon]="faPlus" class="fs-5 bi-bootstrap"></fa-icon><span class="ms-1 d-none d-sm-inline">Claims</span>
                            </a>
                            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdown">
                                <li><a class="dropdown-item" href="#">Motor Claims</a></li>
                                <li><a class="dropdown-item" href="#">Health Claims</a></li>
                                <!--<li><a class="dropdown-item" href="#">Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Sign out</a></li> -->
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-truncate">
                                <fa-icon [icon]="faUser" class="fs-5"></fa-icon><span class="ms-1 d-none d-sm-inline">Clientele</span></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-truncate">
                                <fa-icon [icon]="faAddressBook" class="fs-5"></fa-icon><span class="ms-1 d-none d-sm-inline">Contact</span> </a>
                        </li>
                    </ul>
                </div>

                <div class="d-flex">
                    <i class="fa-solid fa-book  me-2"></i>
                    <span>
                      <h6 class="mt-1 mb-0">
                        COPYRIGHT © 2013 "&#64;" Yogakshmeaonline
                      </h6>
                    </span>
                  </div>
            </div>
        </div>
        <main class="col ps-md-2 pt-2">
            <a href="#" data-bs-target="#sidebar" data-bs-toggle="collapse" class="border rounded-3 p-1 text-decoration-none"> <fa-icon [icon]="faList" class="bi-lg py-2 p-1"></fa-icon> Menu</a>
            <div class="page-header pt-3">
                <h2> Yogakshmeaonline</h2>
            </div>
            <p class="lead">Everything you need
                is under one roof</p>
            <hr>
            <div class="row">
                <div class="col-12">
                    <p>We are established since . The word Yogakshema came from the Sanskrit language which means “take care of yourself”. We at Yogakshema, works exactly for the same and take care of all your personal care solutions.</p>
                </div>
            </div>
        </main>
    </div>
</div>