<div class="container-fluid header bg-light p-0 mb-5" id="home">
    <div class="row g-0 align-items-center flex-column-reverse flex-lg-row">
        <div class="col-lg-6 p-5 wow fadeIn" data-wow-delay="0.1s">
          <h1 [class.animate__animated]="animate"
          [class.animate__bounce]="animate"
          (mouseover)="triggerAnimation()" >
            <span class="first_word"> Life Insurance </span><br>
            <div class="down"><span></span></div>
        </h1>
        <p class="text" [class.animate__animated]="animate"
        [class.animate__headShake]="animate"
        (mouseover)="triggerAnimation()">
        Life insurance is a protection for your loved ones. It can act as a solution to your child’s college fees, daughter’s marriage, tax saver and family cover after death. Buy once and be worry free for whole life.
        We provide Life insurance solutions from the companies which provide best possible solution in the market.
        </p>
        </div>
        <div class="col-lg-6 p-0 bg-image"></div> <!-- Added for background image -->
    </div>
</div>

<div class="col-lg-9 col-md-9 col-sm-12">
    <div class="clients-slider swiper-container">
      <div class="swiper-wrapper align-items-center">
        <div class="swiper-slide"><img src="http://yogakshemaonline.com/img/life_insurance/bajaj_logo.jpg" class="img-fluid" alt="Client 1"></div>
        <div class="swiper-slide"><img src="http://yogakshemaonline.com/img/life_insurance/kotak_logo.gif" class="img-fluid" alt="Client 2"></div>
        <div class="swiper-slide"><img src="http://yogakshemaonline.com/img/life_insurance/TATA_AIA.jpg" class="img-fluid" alt="Client 3"></div>
        <div class="swiper-slide"><img src="http://yogakshemaonline.com/img/life_insurance/PNB_metlife.jpg" class="img-fluid" alt="Client 4"></div>
        <!-- <div class="swiper-slide"><img src="assets/images/logo1.png" class="img-fluid" alt="Client 5"></div>
        <div class="swiper-slide"><img src="assets/images/home_4_logo1.png" class="img-fluid" alt="Client 6"></div>
        <div class="swiper-slide"><img src="assets/images/home_4_logo2.png" class="img-fluid" alt="Client 7"></div>
        <div class="swiper-slide"><img src="assets/images/home_4_logo3.png" class="img-fluid" alt="Client 8"></div>
        <div class="swiper-slide"><img src="assets/images/home_4_logo4.png" class="img-fluid" alt="Client 4"></div>
        <div class="swiper-slide"><img src="assets/images/logo1.png" class="img-fluid" alt="Client 5"></div> -->
    </div>
</div>
</div>