<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h3 class="d-inline-block border rounded-pill py-1 px-4">Yogakshemaonline</h3> 
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-3 d wow fadeInUp" data-wow-delay="0.1s">
                <div data-aos="fade-up"
                data-aos-anchor-placement="bottom-bottom" class="service-item bg-light rounded h-100 p-5" id="life-insurance">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <fa-icon [icon]="faUsersLine" class="text-muted fs-1"></fa-icon>
                    </div>
                    <h4 class="mb-3">Life Insurance</h4>
                    <p class="mb-4"> Life insurance is a protection for your loved ones. 
                        It can act as a solution to your child’s college fees,
                        daughter’s marriage, tax saver and family cover after death. 
                        Buy once and be worry free for whole life.</p>
                    <a class="btn" href=""><fa-icon [icon]="faPlus" class="text-muted me-3"></fa-icon>Read More</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d wow fadeInUp" data-wow-delay="0.3s">
                <div data-aos="fade-up"
                data-aos-anchor-placement="bottom-bottom" class="service-item bg-light rounded h-100 p-5" id="motor-insurance">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <fa-icon [icon]="faMotorcycle" class="text-muted fs-1"></fa-icon>
                    </div>
                    <h4 class="mb-3">Motor Insurance</h4>
                    <p class="mb-4">Motor insurance protects against loss of due to theft, 
                        traffic accidents or fire, explosion etc. 
                        Also it is mandatory by the Indian Government.</p>
                        <a class="btn" href=""><fa-icon [icon]="faPlus" class="text-muted me-3"></fa-icon>Read More</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d wow fadeInUp" data-wow-delay="0.5s">
                <div data-aos="fade-up"
                data-aos-anchor-placement="bottom-bottom" class="service-item bg-light rounded h-100 p-5" id="health-insurance">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <fa-icon [icon]="faNotesMedical" class="text-muted fs-1"></fa-icon>
                    </div>
                    <h4 class="mb-3">Health Insurance</h4>
                    <p class="mb-4">No one plans to get sick or hurt, but most people need 
                        medical care at some point. Health insurance 
                        helps pay these costs.</p>
                    <a class="btn" href=""><fa-icon [icon]="faPlus" class="text-muted me-3"></fa-icon>Read More</a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d wow fadeInUp" data-wow-delay="0.1s">
                <div data-aos="fade-up"
                data-aos-anchor-placement="bottom-bottom" class="service-item bg-light rounded h-100 p-5" id="real-estate">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <fa-icon [icon]="faBuilding" class="text-muted fs-1"></fa-icon>
                    </div>
                    <h4 class="mb-3">Real Estate</h4>
                    <p class="mb-4">The most preferred and assured form of investing money 
                        and getting the best returns</p>
                    <a class="btn" href=""><fa-icon [icon]="faPlus" class="text-muted me-3"></fa-icon>Read More</a>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div data-aos="fade-up"
                data-aos-anchor-placement="bottom-bottom" class="service-item bg-light rounded h-100 p-5" id="motor-claims">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <fa-icon [icon]="faFileCircleExclamation" class="text-muted fs-1"></fa-icon>
                    </div>
                    <h4 class="mb-3">Motor Claim</h4>
                    <p class="mb-4">Apollo Easy Health Insurance Claim Form 
                        Easy Health Insurance Claim Intimation Form
                        Easy Health Insurance Claim Procedure</p>
                    <a class="btn" href=""><fa-icon [icon]="faPlus" class="text-muted me-3"></fa-icon>Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div data-aos="fade-up"
                data-aos-anchor-placement="bottom-bottom" class="service-item bg-light rounded h-100 p-5" id="health-claims">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4" style="width: 65px; height: 65px;">
                        <fa-icon [icon]="faShieldVirus" class="text-muted fs-1"></fa-icon>
                    </div>
                    <h4 class="mb-3">Health Claim</h4>
                    <p class="mb-4">Apollo Easy Health Insurance Claim Form 
                        Easy Health Insurance Claim Intimation Form
                        Easy Health Insurance Claim Procedure </p>
                    <a class="btn" href=""><fa-icon [icon]="faPlus" class="text-muted me-3"></fa-icon>Read More</a>
                </div>
            </div> -->
        </div>
    </div>
</div> 