<router-outlet></router-outlet>
<!-- 1st option with responsive -->
<!-- <app-navbar></app-navbar> -->
<!-- <app-header></app-header> -->
<!-- <app-insurance></app-insurance> -->
<!-- <app-footer></app-footer> -->


<!-- <app-menu></app-menu> -->
<!-- <app-menu3></app-menu3> -->
<!-- <app-menu2></app-menu2> -->
<!-- <app-menu4></app-menu4> -->
<!-- <app-header1></app-header1> -->
<!-- <app-menu5></app-menu5> -->

<!-- <app-menu></app-menu> -->
<!-- <app-header1></app-header1> -->
<!-- <app-insurance></app-insurance> -->
<!-- <app-header></app-header> -->

<!-- <app-navbar></app-navbar> -->
<!-- <app-menu4></app-menu4> -->
<!-- <app-header2></app-header2> -->

<!-- <app-navbar1></app-navbar1>
<app-header3></app-header3>
<app-insurance></app-insurance> -->

<!-- <app-navbar1></app-navbar1> -->
<!-- <app-header3></app-header3>
<app-insurance1></app-insurance1>
<app-header4></app-header4> -->

<!-- <app-navbar1></app-navbar1>
<app-header3></app-header3>
<app-insurance2></app-insurance2>  -->
<!-- 
<app-navbar1></app-navbar1>
<app-header3></app-header3>
<app-slider></app-slider>
<app-insurance3></app-insurance3>  -->


<!-- 2nd option destop tab mobile -->
<!-- <app-navbar1></app-navbar1>
<app-header3></app-header3>
<app-insurance></app-insurance> -->
<!-- <app-header4></app-header4> -->

<!--3rd Option -->
<!-- <app-menu></app-menu> -->
<!-- <app-header3></app-header3> -->
<!-- <app-insurance5></app-insurance5> -->

<!--4th option-->
<app-topbar></app-topbar>
<app-navbar2></app-navbar2>
<app-dialog-content></app-dialog-content>
<app-header44></app-header44>
<app-section></app-section>
<app-section1></app-section1>
<app-images></app-images>
<app-slider></app-slider>
<app-news></app-news>
<app-footerstart></app-footerstart>
<app-footer1></app-footer1>
<app-lifeinsurance></app-lifeinsurance> 
<!-- <app-navbar1></app-navbar1> -->