<div class="row">
    <div class="col-lg-4">
      <div class="pmd-card">
        <!-- Card Media -->
        <div class="pmd-card-image pmd-card-dark">
          <img src="https://propeller.in/assets/images/profile-pic.png" alt="Aerospace" class="img-fluid">
          <div class="card-img-overlay d-flex flex-column justify-content-end">
            <h2 class="pmd-card-title pmd-card-title-overlay">Title goes here</h2>
          </div>
        </div>
        <!-- Card body -->
        <div class="pmd-card-body">
          <p>
            Cards provide context and an entry point to more robust information and views. Don't overload cards
            with extraneous information or actions.
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="pmd-card">
        <!-- Card Media -->
        <div class="pmd-card-image pmd-card-dark pmd-card-overlay">
          <img src="https://propeller.in/assets/images/profile-pic.png" alt="telecommunication" class="img-fluid">
          <div class="card-img-overlay d-flex align-items-center justify-content-center">
            <h4 class="pmd-card-title pmd-card-title-overlay">Title goes here</h4>
            <div class="pmd-view-details">
              <p class="pmd-card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis turpis vitae augue ultrices vestibulum. Integer nisl sem, dignissim a tincidunt non, fermentum eget libero.
              </p>
              <a href="javascript:void(0);" type="button" class="pmd-ripple pmd-btn-fab color-primary" title="ReadMore">
                <i class="material-icons pmd-icon-sm">arrow_forward</i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  