<section class="rs-blog pt-120 pb-120 loaded" id="rs-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="section-title">
                    <samp>News & Blog</samp>
                    <h2 class="title">Get the latest updates & information from our experts.</h2>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-6">
                <div class="rs-blog__single mt-30 wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0s; animation-name: fadeInUp;">
                <div class="rs-thumb">
                    <a href="blog-single.html">
                        <img src="assets/images/blog-thumb-1.jpg" alt="">
                    </a>
                </div>
                <div class="rs-content">
                    <ul>
                        <li>
                            <fa-icon [icon]="faCalendar"></fa-icon>Oct 10, 2023
                        </li>
                        <li>
                            <fa-icon [icon]="faUser"></fa-icon>Insurigo
                        </li>
                    </ul>
                    <h3 class="title">
                        <a href="blog-single.html">Earn good money and make you very successful</a>
                    </h3>
                    <hr>
                    <a class="rs-link" href="blog-single.html">
                        Continue Reading 
                        <fa-icon [icon]="faArrowRight"></fa-icon>
                    </a>
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-lg-6">
                <div class="rs-blog__single mt-30 wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0s; animation-name: fadeInUp;">
                <div class="rs-thumb">
                    <a href="blog-single.html">
                        <img src="assets/images/blog-thumb-2.jpg" alt="">
                    </a>
                </div>
                <div class="rs-content">
                    <ul>
                        <li>
                            <fa-icon [icon]="faCalendar"></fa-icon>Oct 10, 2023
                        </li>
                        <li>
                            <fa-icon [icon]="faUser"></fa-icon>Insurigo
                        </li>
                    </ul>
                    <h3 class="title">
                        <a href="blog-single.html">Avenue money and make you very creative work</a>
                    </h3>
                    <hr>
                    <a class="rs-link" href="blog-single.html">
                        Continue Reading 
                        <fa-icon [icon]="faArrowRight"></fa-icon>
                    </a>
                </div>
                </div>
            </div>
            <div class="col-lg-4 col-lg-6">
                <div class="rs-blog__single mt-30 wow fadeInUp animated" data-wow-duration="1.5s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0s; animation-name: fadeInUp;">
                <div class="rs-thumb">
                    <a href="blog-single.html">
                        <img src="assets/images/blog-thumb-3.jpg" alt="">
                    </a>
                </div>
                <div class="rs-content">
                    <ul>
                        <li>
                            <fa-icon [icon]="faCalendar"></fa-icon>Oct 10, 2023
                        </li>
                        <li>
                            <fa-icon [icon]="faUser"></fa-icon>Insurigo
                        </li>
                    </ul>
                    <h3 class="title">
                        <a href="blog-single.html">Ultrices dui sapien eget mi. Enim nulla aliquet</a>
                    </h3>
                    <hr>
                    <a class="rs-link" href="blog-single.html">
                        Continue Reading 
                        <fa-icon [icon]="faArrowRight"></fa-icon>
                    </a>
                </div>
                </div>
            </div>
        </div>
    </div>
</section>
