<div class="row gy-4 mt-5 justify-content-center" data-aos="" data-aos-delay="250">
    <div class="col-xl-2 col-md-4 life" style="background-color: #9d0965; opacity: 5;">
      <div class="icon-box">
        <fa-icon [class.animate__animated]="animate"
        [class.animate__headShake]="animate"
        [class.animate__slow]="animate"
        (mouseover)="triggerAnimation()" [icon]="faUsersLine"></fa-icon>
        <h3 [class.animate__animated]="animate"
        [class.animate__shakeX]="animate"
        [class.animate__slow]="animate"
        (mouseover)="triggerAnimation()"><a href="">Life Insurance</a></h3>
      </div>
    </div>
    <div class="col-xl-2 col-md-4 motor" style="background-color: #9d0965; opacity: 0.8;">
      <div class="icon-box">
        <fa-icon [class.animate__animated]="animate"
        [class.animate__headShake]="animate"
        [class.animate__slow]="animate"
        (mouseover)="triggerAnimation()" [icon]="faMotorcycle" ></fa-icon><!--style="margin-right: 7.5rem;"-->
        <h3 [class.animate__animated]="animate"
        [class.animate__shakeX]="animate"
        [class.animate__slow]="animate"
        (mouseover)="triggerAnimation()" ><a href="">Motor Insurance</a></h3><!--style="margin-left: 7.5rem;"-->
      </div>
    </div>
    <div class="col-xl-2 col-md-4" style="background-color: #9d0965; opacity: 5;">
      <div class="icon-box">
        <fa-icon [class.animate__animated]="animate"
        [class.animate__headShake]="animate"
        [class.animate__slow]="animate"
        (mouseover)="triggerAnimation()" [icon]="faNotesMedical" ></fa-icon><!--style="margin-right: 8rem;"-->
        <h3 [class.animate__animated]="animate"
        [class.animate__shakeX]="animate"
        [class.animate__slow]="animate"
        (mouseover)="triggerAnimation()"><a href="">Health Insurance</a></h3> <!-- style="margin-left: 7rem;"-->
      </div>
    </div>
    <div class="col-xl-2 col-md-4" style="background-color: #9d0965; opacity: 0.8;">
      <div class="icon-box">
        <fa-icon [class.animate__animated]="animate"
        [class.animate__headShake]="animate"
        [class.animate__slow]="animate"
        (mouseover)="triggerAnimation()" [icon]="faBuilding" ></fa-icon> <!-- style="margin-right: 12.5rem;"-->
        <h3 [class.animate__animated]="animate"
        [class.animate__shakeX]="animate"
        [class.animate__slow]="animate"
        (mouseover)="triggerAnimation()"><a href="">Real Estate</a></h3>   <!--style="margin-left: 4.5rem;" -->
      </div>
    </div>
  </div>  