<section id="clients" class="clients">
  <div class="container">
    <div class="row">
      <!-- Left side with heading -->
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="rs-testimonial-partner-text">
          <h5 class="title">
            Our Worldwide Partners
          </h5>
        </div>
      </div>
     
      <!-- Right side with carousel -->
      <div class="col-lg-9 col-md-9 col-sm-12">
        <div class="clients-slider swiper-container">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><img src="assets/images/home_4_logo1.png" class="img-fluid" alt="Client 1"></div>
            <div class="swiper-slide"><img src="assets/images/home_4_logo2.png" class="img-fluid" alt="Client 2"></div>
            <div class="swiper-slide"><img src="assets/images/home_4_logo3.png" class="img-fluid" alt="Client 3"></div>
            <div class="swiper-slide"><img src="assets/images/home_4_logo4.png" class="img-fluid" alt="Client 4"></div>
            <div class="swiper-slide"><img src="assets/images/logo1.png" class="img-fluid" alt="Client 5"></div>
            <div class="swiper-slide"><img src="assets/images/home_4_logo1.png" class="img-fluid" alt="Client 6"></div>
            <div class="swiper-slide"><img src="assets/images/home_4_logo2.png" class="img-fluid" alt="Client 7"></div>
            <div class="swiper-slide"><img src="assets/images/home_4_logo3.png" class="img-fluid" alt="Client 8"></div>
            <div class="swiper-slide"><img src="assets/images/home_4_logo4.png" class="img-fluid" alt="Client 4"></div>
            <div class="swiper-slide"><img src="assets/images/logo1.png" class="img-fluid" alt="Client 5"></div>
 
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>
    <div class="rs-shape">
        <img src="assets/images/star_img.png" alt="">
      </div> 
</section>
