@if (images) {
	<ngb-carousel>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper" id="life-insurance">
                <img src="assets/images/life1 (2).jpeg" alt="Random first slide" >
			</div>
			<div class="carousel-caption">
				<div class="icon"><fa-icon [icon]="faUsersLine"></fa-icon></div>
                <h3 class="title">Life Insurance</h3>
                <p class="description">Life insurance is a protection for your loved ones. 
                    It can act as a solution to your child’s college fees,
                    daughter’s marriage, tax saver and family cover after death. 
                    Buy once and be worry free for whole life.</p>
                <a class="btn" href=""><fa-icon [icon]="faPlus" class="text-muted me-3"></fa-icon>Read More</a>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper" id="motor-insurance">
                <img src="assets/images/Motor.jpeg" alt="Random Second slide ">
			</div>
			<div class="carousel-caption">
				<div class="icon"><fa-icon [icon]="faMotorcycle"></fa-icon></div>
				<h3 class="title">Motor Insurance</h3>
                <p class="description">Motor insurance protects against loss of due to theft, 
                    traffic accidents or fire, explosion etc. 
                    Also it is mandatory by the Indian Government.</p>
                <a class="btn" href=""><fa-icon [icon]="faPlus" class="text-muted me-3"></fa-icon>Read More</a>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper" id="health-insurance">
                <img src="assets/images/Health.jpeg" alt="Random third slide ">
			</div>
			<div class="carousel-caption">
				<div class="icon"><fa-icon [icon]="faNotesMedical"></fa-icon></div>
				<h3 class="title">Health Insurance</h3>
                <p class="description">No one plans to get sick or hurt, but most people need 
                    medical care at some point. Health insurance 
                    helps pay these costs.</p>
                <a class="btn" href=""><fa-icon [icon]="faPlus" class="text-muted me-3"></fa-icon>Read More</a>
			</div>
		</ng-template>
        <ng-template ngbSlide>
			<div class="picsum-img-wrapper" id="real-estate">
                <img src="assets/images/Real.jpeg" alt="Random fourth slide ">
			</div>
			<div class="carousel-caption">
				<div class="icon"><fa-icon [icon]="faBuilding"></fa-icon></div>
				<h3 class="title">Real Estate</h3>
                <p class="description">The most preferred and assured form of investing money 
                    and getting the best returns</p>
                <a class="btn" href=""><fa-icon [icon]="faPlus" class="text-muted me-3"></fa-icon>Read More</a>
			</div>
		</ng-template>
	</ngb-carousel>
}