<nav class="navbar navbar-expand-lg  navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
    <div class="container-fluid p-0">
        <a class="navbar-brand" href="#"><img src="assets/images/bird.png" [class.animate__animated]="animate"
            [class.animate__fadeInLeft]="animate"
            (mouseover)="triggerAnimation()" alt=" "></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item scroll" (click)="toHome()">
                    <a class="nav-link active " href="#">
                        Home
                    </a>
                </li>
                <li class="nav-item dropdown scroll " (click)="toInsurance()">
                    <a class="nav-link dropdown-toggle " href="#insurance" role="button" data-bs-toggle="dropdown">
                      Insurance 
                    </a>
                    <ul class="dropdown-menu scroll">
                        <li (cilck)="toLifeInsurance()"><a class="dropdown-item" [routerLink]="['/lifeinsurance']">Life Insurance
                        </a></li>
                        <li (cilck)="toMotorInsurance()"><a class="dropdown-item" href="#motor-insurance">Motor
                                Insurance</a></li>
                        <li (cilck)="toHealthInsurance()"><a class="dropdown-item" href="#health-insurance">Health
                                Insurance</a></li>
                    </ul>
                </li>
                <li class="nav-item scroll" (click)="toRealEstate()">
                    <a class="nav-link " href="#real estate">
                         Real Estate
                    </a>
                </li>
                <li class="nav-item" (click)="toSoftwareSolution()">
                    <a class="nav-link " href="#Software Solution">
                       Software Solution
                    </a>
                </li>
                <li class="nav-item dropdown" (click)="toClaims()">
                    <a class="nav-link dropdown-toggle " href="#claims" role="button" data-bs-toggle="dropdown">
                        Claims
                    </a>
                    <ul class="dropdown-menu">
                        <li (click)="toMotorClaims()"><a class="dropdown-item" href="#motor-claims">Motor Claims</a>
                        </li>
                        <li (click)="toHealthClaims()"><a class="dropdown-item" href="#health-claims">Health Claims</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" (click)="toClientele()">
                    <a class="nav-link " href="#clientele">
                        Clientele
                    </a>
                </li>
                <li class="nav-item" (click)="toContactus()">
                    <a class="nav-link " href="#contact us">
                       Contact us
                    </a>
                </li>
            </ul>
        </div>
        <div class="contact">
            <button [class.animate__animated]="animate"
            [class.animate__headShake]="animate"
            (mouseover)="triggerAnimation()" pButton type="button" label="Hover me" pTooltip="+91 92261 53216 & +91 92261 53215"> 
                <fa-icon [icon]="faPhone"></fa-icon>
            </button>
        </div>
    </div>
</nav>