.rs-compare {
    position: relative;
    z-index: 10;
    margin-bottom: -42.5rem;
    overflow-x: hidden;
}
.pb-120 {
    padding-bottom: 120px;
}
.pt-120 {
    padding-top: 120px;
}


.section-title {
    text-align: center;
}

code, kbd, pre, samp {
    /* font-family: var(--bs-font-monospace); */
    font-size: 16px;
    font-weight: 500;
    color: #410028;
    border: 1px solid pink;
    border-radius: 40px;
    padding: 8px 20px 8px 20px;

    margin-right: 4rem;
    line-height: 26px;
    display: inline-block;
}

.section-title .title {
    font-size: 45px;
    line-height: 54px;
    margin-top: 28px;
    font-weight: 600;
    margin-bottom: 49px;
    color: #680140;
}

.rs-compare__tabs .skltbs-tab-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.skltbs-theme-light .skltbs-tab-group, .skltbs-theme-dark .skltbs-tab-group {
    margin: 0;
    padding: 0;
    list-style: none;
}

.skltbs-theme-light {
    color: #333;
}

.rs-compare__tabs .skltbs-tab-group .skltbs-tab-item {
    float: none;
    display: inline-block;
    margin: 0;
}

.rs-compare__tabs .skltbs-tab-group .skltbs-tab-item .skltbs-tab.skltbs-active {
    background:#302c2e;
    color: #ffffff;
    border-radius: 3px;
    font-size: 1.4rem;
    border-radius: 5px;
    padding: 20px 78px 20px 78px;
}

button, input, optgroup, select, textarea {
    margin: 0px;
    font-family: inherit;
    font-size: inherit;
    font-size: 1.3rem;
    border: 0.1px #b3b3b3;
    box-shadow: -0.1px 0px 0px 0px rgb(117, 117, 117);
    /* border-right: 0.01px solid darkgray; */
    padding: 20px 90px 20px 90px;
}

 h4 {
    font: 600 31px / 26px Roboto, sans-serif;
    letter-spacing: .03125em;
    margin: 0 0 16px;
    color: #64013e;
}

 p {
    margin: 0 0 12px;
    font-size: 16px;
    font-weight: 400;
    color: #656567;
    padding-bottom: 50px;
}

.rs-shape-2 img {
    position: relative;
    top: -40rem;
    width: 12%;
    height: 30rem;
    left: 73.5rem;
}

@media only screen and (min-width: 1200px) and (max-width: 1549px) {
    .rs-compare .rs-shape-1 {
        width: 8%;
    }
}
@media only screen and (max-width: 1900px) {
    .rs-compare .rs-shape-1 {
        left: 0;
        width: 12%;
    }
}
.rs-compare .rs-shape-1 {
    position: relative;
    left: 7px;
    bottom: 93px;
    z-index: 34;
}

.skltbs-panel  img {
    height: 25rem;
    margin-left: 1rem;
}

.rs-compare .skltbs-theme-light .skltbs-panel {
    background: transparent;
}
@media only screen and (min-width: 1200px) and (max-width: 1549px) {
    .rs-compare__tabs .skltbs-panel-group .skltbs-panel {
        padding: 50px 50px 0;
    }
}



@media only screen and (min-width:568px) and (max-width:992px) {
    .rs-compare__tabs .skltbs-tab-group {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 117%;
        gap: 2rem;
        margin-bottom: 3rem;
        margin-left: -4rem;
    }
    code, kbd, pre, samp {
        font-size: 22px;
        font-weight: 600;
        color: #410028;
        border: 1px solid pink;
        border-radius: 40px;
        padding: 14px 26px 14px 26px;
        margin-right: -2rem;
        line-height: 19px;
        display: inline-block;
    }

    .rs-compare {
        margin-bottom: -20rem;
    }

    .section-title .title {
        font-size: 49px;
        line-height: 51px;
        margin-top: 42px;
        margin-bottom: 64px;
    }

    .rs-compare__tabs .skltbs-tab-group .skltbs-tab-item {
        float: none;
        display: inline-block;
        margin: 0;
    }
    
    .rs-compare__tabs .skltbs-tab-group .skltbs-tab-item .skltbs-tab.skltbs-active {
        background:#302c2e;
        color: #ffffff;
        border-radius: 3px;
        font-size: 1.4rem;
        border-radius: 5px;
        padding: 20px 90px 20px 90px;
    }
    
    button, input, optgroup, select, textarea {
        margin: 0px;
        font-family: inherit;
        font-size: inherit;
        font-size: 1.3rem;
        border: 0.1px #b3b3b3;
        box-shadow: -0.1px 0px 0px 0px rgb(117, 117, 117);
        /* border-right: 0.01px solid darkgray; */
        padding: 20px 110px 20px 100px;
    }
    
     h4 {
        font: 600 35px / 26px Roboto, sans-serif;
        letter-spacing: .03125em;
        margin: 0 0 32px;
        color: #64013e;
    }

    p {
        margin: 0 0 20px;
        font-size: 25px;
        font-weight: 400;
        color: #656567;
        padding-bottom: 60px;
    }
    

    .skltbs-panel img {
        height: 16rem;
        margin-left: 6rem;
    }

    .rs-shape-2 img {
        top: -20rem;
        width: 15%;
        height: 25rem;
        left: 60rem;
    }
}

@media only screen and (min-width:320px) and (max-width:567px) {
    .rs-compare__tabs .skltbs-tab-group {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 147%;
        gap: 1.6rem;
        margin-bottom: 4rem;
        margin-left: -0.7rem;
    }
    code, kbd, pre, samp {
        font-size: 26px;
        font-weight: 600;
        color: #410028;
        border: 1px solid pink;
        border-radius: 40px;
        padding: 17px 29px 17px 29px;
        margin-right: -9rem;
        line-height: 22px;
        display: inline-block;
    }

    .rs-compare {
        margin-bottom: -31rem;
    }

    .section-title .title {
        font-size: 43px;
        line-height: 51px;
        margin-top: 46px;
        margin-bottom: 68px;
        margin-right: -9rem;
    }

    .rs-compare__tabs .skltbs-tab-group .skltbs-tab-item {
        float: none;
        display: inline-block;
        margin: 0;
    }
    
    .rs-compare__tabs .skltbs-tab-group .skltbs-tab-item .skltbs-tab.skltbs-active {
        background:#302c2e;
        color: #ffffff;
        border-radius: 3px;
        font-size: 1.4rem;
        border-radius: 5px;
        padding: 20px 90px 20px 90px;
    }
    
    button, input, optgroup, select, textarea {
        margin: 0px;
        font-family: inherit;
        font-size: inherit;
        font-size: 1.3rem;
        border: 0.1px #b3b3b3;
        box-shadow: -0.1px 0px 0px 0px rgb(117, 117, 117);
        /* border-right: 0.01px solid darkgray; */
        padding: 20px 110px 20px 100px;
    }
    
     h4 {
                font: 600 35px / 49px Roboto, sans-serif;
                letter-spacing: .03125em;
                margin: 0 0 44px 7px;
                color: #64013e;
    }

    p {
        margin: 0 0 20px 7px;
        font-size: 26px;
        font-weight: 400;
        color: #656567;
        padding-bottom: 60px;
    }
    
   
    .skltbs-panel img {
            height: 18rem;
            width: 88%;
            margin-left: 7.6rem;
            margin-bottom: 2rem;
        }
        

    .rs-shape-2 img {
        top: -10rem;
        width: 20%;
        height: 20rem;
        left: 40rem;
    }
}