<section class="rs-compare pt-120 pb-120 loaded">
    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="section-title">
                    <samp> Cost Calculate</samp>
                    <h2 class="title">Get your insurance quotes and compare plans</h2>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="rs-compare__tabs">
                    <div id="rs-tabs" class="rs-tab-active skltbs-theme-light use-drop skltbs-mode-tabs skltbs-init">
                        <ul class="skltbs-tab-group" role="tablist">
                            <li class="skltbs-tab-item skltbs-active" role="presentation"> 
                                <button class="skltbs-tab skltbs-active" id="skeletabsTab1" aria-selected="true" role="tab" tabindex="0" aria-controls="skeletabsPanel1"> Plan Level</button>
                            </li>
                            <li class="skltbs-tab-item" role="presentation"> 
                                <button class="skltbs-tab" id="skeletabsTab2" aria-selected="false" role="tab" tabindex="1" aria-controls="skeletabsPanel12"> Ageags</button>
                            </li> 
                            <li class="skltbs-tab-item" role="presentation"> 
                                <button class="skltbs-tab" id="skeletabsTab3" aria-selected="false" role="tab" tabindex="-1" aria-controls="skeletabsPanel3"> Company</button>
                            </li> 
                            <li class="skltbs-tab-item" role="presentation"> 
                                <button class="skltbs-tab" id="skeletabsTab4" aria-selected="false" role="tab" tabindex="-1" aria-controls="skeletabsPanel14"> Location</button>
                            </li>                              
                        </ul>
                        <!-- <div class="skltbs-panel-group">
                            <div class="skltbs-panel skltbs-active" id="skeletabsPanel1" role="tabpanel" tabindex="0" aria-labelledby="skeletabsTab1" style="display: block;">
                                <h4 class="title">Family insurance rates by plan level</h4>
                                <p>Based on ....</p>
                                <img src="" alt>
                            </div>
                        </div> -->
                        <div class="skltbs-panel-group">
                            <div class="skltbs-panel skltbs-active" id="skeletabsPanel1" role="tabpanel" tabindex="0" aria-labelledby="skeletabsTab1" style="display: block;">
                                <h4 class="title">Family insurance rates by plan level</h4>
                                <p>Based on ....</p>
                                <img src="assets/images/comp.jpg" alt="">
                            </div>
                            <div class="skltbs-panel" id="skeletabsPanel12" role="tabpanel" tabindex="0" aria-labelledby="skeletabsTab2" style="display: none;">
                                <h4 class="title">Family insurance rates by plan level</h4>
                                <p>Based on ....</p>
                                <img src="assets/images/comp.jpg" alt="">
                            </div>
                            <div class="skltbs-panel skltbs-active" id="skeletabsPanel13" role="tabpanel" tabindex="0" aria-labelledby="skeletabsTab3" style="display: none;">
                                <h4 class="title">Family insurance rates by plan level</h4>
                                <p>Based on ....</p>
                                <img src="assets/images/comp.jpg" alt="">
                            </div>
                            <div class="skltbs-panel skltbs-active" id="skeletabsPanel14" role="tabpanel" tabindex="0" aria-labelledby="skeletabsTab4" style="display: none;">
                                <h4 class="title">Family insurance rates by plan level</h4>
                                <p>Based on ....</p>
                                <img src="assets/images/comp.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rs-shape-1 wow fadeInLeft animated" data-wow-duration="1.5s" data-wow-delay="0s" style="visibility: visible; animation-duration: 1.5s; animation-delay: 0s; animation-name: fadeInLeft;">
        <img src="assets/images/man.png" alt="" style="height: 14rem;">
    </div>

    <div class="rs-shape-2" >
        <img src="assets/images/money_2.png" alt="">
    </div>
</section>